@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", "Raleway", "Lato", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

h1 {
  font-size: 44px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

h2 {
  font-size: 36px;
  line-height: 1.16;
}

h3 {
  line-height: 1.14;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header__container, .hero__container, .feature__container, .produce__container, .team__container, .client__container, .portfolio__container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.hero__container-slider {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  display: block;
}

.feature__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.produce__container {
  padding-bottom: 94px;
}

.team__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__container {
  padding-top: 93px;
  padding-bottom: 94px;
}

.hero__button, .popup__button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87%;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  font-family: inherit;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .popup__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 20px 30px 20px 30px;
  border: none;
  text-decoration: none;
  outline: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button .icon {
  margin-left: 10px;
}

.subscribe__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Logo */
.logo {
  color: var(--text-title-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}

.logo- .logo:focus {
  color: var(--accent-color);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.address-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-style: normal;
}

.address-nav .item:not(:last-child) {
  margin-right: 31px;
}

.nav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
  text-decoration: none;
}

.address-nav .link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  fill: var(--primary-logo-color);
  -webkit-transition: color var(--timing-animation), fill var(--timing-animation);
  transition: color var(--timing-animation), fill var(--timing-animation);
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  color: var(--text-title-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: color var(--timing-animation), -webkit-transform var(--timing-animation);
  transition: color var(--timing-animation), -webkit-transform var(--timing-animation);
  transition: transform var(--timing-animation), color var(--timing-animation);
  transition: transform var(--timing-animation), color var(--timing-animation), -webkit-transform var(--timing-animation);
}

.current::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:hover::after,
.nav-link:focus::after,
.address-nav .link:hover,
.address-nav .link:focus,
.address-footer .link:hover,
.address-footer .link:focus {
  color: rgba(33, 150, 243, 0.8);
  fill: rgba(33, 150, 243, 0.8);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav .nav-link.current {
  color: var(--accent-color);
}

.address-nav .icon {
  margin-right: 10px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Logo */
.logo {
  color: var(--text-title-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}

.logo- .logo:focus {
  color: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
}

footer b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-top: 60px;
  padding-bottom: 20px;
  /* outline: 2px solid tomato; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block1 {
  display: block;
}

.logo-footer {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}

.address-footer {
  font-style: normal;
  margin-top: 20px;
}

.address-footer .item:not(:last-child) {
  padding-bottom: 9px;
}

.address-description {
  color: #ffffff;
  font-weight: 300;
  line-height: 1.71;
}

.address-footer .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color var(--timing-animation);
  transition: color var(--timing-animation);
}

.subscribe {
  padding-top: 12px;
}

.subscribe-forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.subscribe-input:focus, .subscribe-input:not(:placeholder-shown) {
  outline: transparent;
  border: 1px solid #2196f3;
}

.subscribe-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 20px 30px 20px 30px;
  border: none;
  outline: none;
  text-decoration: none;
}

.subscribe-link .icon {
  margin-left: 10px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero__container {
  padding: 200px 15px;
  text-align: center;
}

.hero__title {
  padding-bottom: 30px;
  text-transform: uppercase;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
  border-radius: 4px;
}

.feature__icon--antenna, .feature__icon--clock, .feature__icon--diagram, .feature__icon--astronaut {
  width: 70px;
  height: 70px;
}

.features__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.features__description {
  font-weight: 400;
  width: 270px;
}

.produce__title {
  margin-bottom: 50px;
}

.produce__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.produce__item:not(:last-child) {
  margin-right: 30px;
  padding: 0;
}

.produce__position {
  position: relative;
}

.produce__position--img {
  display: block;
}

.produce__title--h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}

.team__background {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  padding-bottom: 24px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__title--h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 16px;
}

.client__title {
  margin-bottom: 50px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  -webkit-transition: background-color 600ms cubic-bezier(0.4, 0, 0.2, 1), border 600ms cubic-bezier(0.4, 0, 0.2, 1), fill 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 600ms cubic-bezier(0.4, 0, 0.2, 1), border 600ms cubic-bezier(0.4, 0, 0.2, 1), fill 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:hover, .client-logo:focus {
  background-color: rgba(121, 121, 121, 0.2);
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.social__container {
  padding-left: 32px;
  padding-right: 32px;
}

.social__footercontainer {
  margin-left: 69px;
  margin-right: 94px;
  padding-top: 12px;
  text-transform: uppercase;
}

.social__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.team__social--link, .footer__social--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.team__social--link {
  fill: #afb1b8;
  -webkit-transition: background-color 600ms cubic-bezier(0.4, 0, 0.2, 1), fill 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 600ms cubic-bezier(0.4, 0, 0.2, 1), fill 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social--link:hover, .team__social--link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer__social--link {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social--link:hover, .footer__social--link:focus {
  background-color: #2196f3;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .popup {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 580px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-popup {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 30px;
  min-height: 30px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.icon-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  fill: #000000;
  -webkit-transition: fill 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-popup:focus {
  outline: transparent;
}

.close-popup:hover .icon-close {
  fill: #2196f3;
}

/* Форма  */
.popup b {
  display: inline-block;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: default;
}

.form-label {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-field {
  display: inline-block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.label-name {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: top 600ms cubic-bezier(0.4, 0, 0.2, 1), left 600ms cubic-bezier(0.4, 0, 0.2, 1), color 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 600ms cubic-bezier(0.4, 0, 0.2, 1), left 600ms cubic-bezier(0.4, 0, 0.2, 1), color 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), top 600ms cubic-bezier(0.4, 0, 0.2, 1), left 600ms cubic-bezier(0.4, 0, 0.2, 1), color 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), top 600ms cubic-bezier(0.4, 0, 0.2, 1), left 600ms cubic-bezier(0.4, 0, 0.2, 1), color 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus + .label-name,
.form-field:not(:placeholder-shown) + .label-name {
  top: -20px;
  left: 16px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: #2196f3;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus ~ .input-icon,
.form-field:not(:placeholder-shown) ~ .input-icon {
  fill: #2196f3;
}

/*  */
/*  */
/*  */
.comment-label {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.comment-field {
  display: inline-block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.comment-field:focus,
.comment-field:not(:placeholder-shown) {
  outline: transparent;
  border: 1px solid #2196f3;
}

.comment-name {
  position: absolute;
  display: inline-block;
  top: 10%;
  left: 16px;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: top 600ms cubic-bezier(0.4, 0, 0.2, 1), left 600ms cubic-bezier(0.4, 0, 0.2, 1), color 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 600ms cubic-bezier(0.4, 0, 0.2, 1), left 600ms cubic-bezier(0.4, 0, 0.2, 1), color 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), top 600ms cubic-bezier(0.4, 0, 0.2, 1), left 600ms cubic-bezier(0.4, 0, 0.2, 1), color 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), top 600ms cubic-bezier(0.4, 0, 0.2, 1), left 600ms cubic-bezier(0.4, 0, 0.2, 1), color 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field:focus + .comment-name,
.comment-field:not(:placeholder-shown) + .comment-name {
  top: -20px;
  left: 16px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: #2196f3;
}

/*  */
/*  */
/*  */
/*  */
.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.checkbox-icon {
  display: block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 0.75px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/check-icon.svg);
  background-size: contain;
  background-origin: border-box;
}

.check-text {
  color: #757575;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.check-text a {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */