.main-nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  color: var(--text-title-color);
  font-family: "Raleway", sans-serif;

  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}

.logo- .logo:focus {
  color: var(--accent-color);
}
