.feature__list {
  display: flex;
}
.feature__item:not(:last-child) {
  margin-right: 30px;
}
// !
// .feature__item {
//   display: block;
//   width: calc((100% - 90px) / 4);
//   margin-top: 30px;
// }
// !
.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-background-icon;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  &--antenna,
  &--clock,
  &--diagram,
  &--astronaut {
    width: 70px;
    height: 70px;
  }
}

.features__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.features__description {
  font-weight: 400;
  width: 270px;
}
