%container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header__container {
  @extend %container;
}
.hero__container-slider {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  @extend %container;
  display: block;
}
.feature__container {
  @extend %container;
  padding-top: 94px;
  padding-bottom: 94px;
}
.produce__container {
  @extend %container;
  padding-bottom: 94px;
}
.team__container {
  @extend %container;
  padding-top: 94px;
  padding-bottom: 94px;
}
.client__container {
  @extend %container;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__container {
  @extend %container;
  padding-top: 93px;
  padding-bottom: 94px;
}
